@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

.btn-off {
  @apply border border-blue-500 bg-white text-blue-500 hover:bg-blue-50 rounded-md
}
.btn-on {
  @apply border border-blue-500 bg-blue-500 text-white hover:bg-blue-400 rounded-md
}

.btn-close {
  @apply  border border-gray-500 bg-gray-200 text-gray-800  rounded-sm ;
  @apply text-sm px-1 py-1 min-w-36 h-10 font-bold;
}
.btn-register {
  @apply  border border-blue-500 bg-blue-100 text-blue-800 rounded-sm ;
  @apply text-sm px-1 py-1 w-36 h-10 font-bold;
}

.btn-primary {
  @apply btn-off;
  @apply text-sm px-1 py-1 w-14 h-14;
  word-break: break-all; /* 必要に応じて単語の途中で改行 */
}
.btn-primary-on {
  @apply btn-on;
  @apply text-sm px-1 py-1 w-14 h-14;
  word-break: break-all; /* 必要に応じて単語の途中で改行 */
}
.btn-footer-primary {
  @apply border border-gray-500 bg-white text-gray-500 hover:bg-gray-50 rounded-md;
  @apply text-sm px-1 py-1 w-20 h-12;
}
.btn-footer-primary-on {
  @apply border border-gray-500 bg-gray-500 text-white hover:bg-gray-400 rounded-md;
  @apply text-sm px-1 py-1 w-20 h-12;
}
.btn-wight-primary {
  @apply btn-off;
  @apply text-sm px-1 py-1 w-32 h-10;
}
.btn-wight-primary-on {
  @apply btn-on;
  @apply text-sm px-1 py-1 w-32 h-10;
}


:root {
  /* --color-primary: #ffb100; */
  --color-primary: 255 177 0;
  /* --color-secondary: #4682b4; */
  --color-secondary: 70 130 180;
  --color-surface: #ffffff;
  /* アクセントカラー */
  /* --color-fine: #72e419; */
  --color-fine: 114 228 25;
  /* --color-info: #2ab2ff; */
  --color-info: 42 178 255;
  /* --color-danger: #ff5d2a; */
  --color-danger: 255 93 42;

  /* --color-cancel: #d3d3d3; */
  --color-cancel: 211 211 211;
  /* --color-disabled: #a9a9a9; */
  --color-disabled: 169 169 169;

  /* --color-text-base: #333333; */
  --color-text-base: 51 51 51;
  /* --color-text-accent: #666666; */
  --color-text-accent: 102 102 102;
  /* --color-text-inverted: #ffffff; */
  --color-text-inverted: 255 255 255;
  /* --color-text-link: #ff9900; */
  --color-text-link: 255 153 0;
}
